.best-menu {
    max-width: 1205px;
    margin: 0 auto 60px;
    @media screen and (max-width: 1300px) {
        max-width: 963px;
        margin: 0 auto 45px;
    }
    @media screen and (max-width: 1000px) {
        max-width: 691px;
        display: flex;
        flex-direction: column;
    }
    @media screen and (max-width:760px) {
        align-items: center;
    }
}