.contacts {
    &__info {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 141.9%;
        @media screen and (max-width: 1024px) {
            font-size: 2.5rem;
        }
        @media screen and (max-width: 768px) {
            font-size: 2.2rem;
        }
        @media screen and (max-width: 640px) {
            font-size: 1.9rem;
        }
    }
    &__info a {
        color: $secondary-tcolor;
    }
}