.dish {
    display: inline-block;
    width: calc((100% - 2 * 48px) / 3);
    max-width: 360px;
    vertical-align: top;
    position: relative;
    &:not(:last-of-type) {
        margin-right: 48px;
        @media screen and (max-width: 1300px) and (min-width: 1001px) {
            margin-right: 92px;
        }
        @media screen and (max-width: 1000px) {
            margin-bottom: 58px;
            margin-right: 0;
        }
    }
    @media screen and (max-width: 1300px) {
        width: calc((100% - 2 * 92px) / 3);
        max-width: 252px;
    }
    @media screen and (max-width: 1000px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 720px;
    }
    @media screen and (max-width: 760px) {
        flex-direction: column;
        max-width: 320px;
    }
    &::before {
        width: 58px;
        height: 58px;
        line-height: 58px;
        @include center-text;
        color: $secondary-tcolor;
        border-radius: 50%;
        font-size: 1.4rem;
        position: absolute;
        top: -29px;
        left: -29px;
        @media screen and (max-width: 1300px) and (min-width: 1001px) {
            width: 46px;
            height: 46px;
            line-height: 46px;
            font-size: 1.2rem;
            top: -23px;
            left: -23px;
        }
        @media screen and (max-width: 400px) {
            width: 46px;
            height: 46px;
            line-height: 46px;
            font-size: 1.2rem;
            top: -23px;
            left: -23px;
        }
    }
    &--hot::before {
        @include dish-status("HOT!", #D33B3B);
    }
    &--new::before {
        @include dish-status("NEW!", #B3E151);
    }
    &--hit::before {
        @include dish-status("HIT!", #E5A434);
    }
}