.image {
    margin-bottom: 35px;
    & img {
        max-width: 360px;
        @media screen and (max-width: 1300px) {
            max-width: 252px;
        }
        @media screen and (max-width: 1000px) {
            max-width: 320px;
        }
    }
    @media screen and (max-width: 1000px) {
        margin-bottom: 0;
    }
    @media screen and (max-width: 760px) {
        margin-bottom: 20px;
    }
}