* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Source Serif Pro';
}

section:not(.first-section, .restaurant-images),
.footer {
  padding: 100px 0;
}

@media screen and (max-width: 1024px) {
  section:not(.first-section, .restaurant-images),
  .footer {
    padding: 80px 0;
  }
}

@media screen and (max-width: 768px) {
  section:not(.first-section, .restaurant-images),
  .footer {
    padding: 70px 0;
  }
}

@media screen and (max-width: 640px) {
  section:not(.first-section, .restaurant-images),
  .footer {
    padding: 55px 0;
  }
}

a {
  text-decoration: none;
}

.background-image {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: rgba(0, 0, 0, 0.42);
  padding: 44px 359px 45px 372px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 2500px) {
  .header {
    padding: 44px 550px 45px 564px;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    padding: 44px 118px 45px 132px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 13px 31px 13px 42px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 8px 13px 8px 24px;
  }
}

@media screen and (max-width: 640px) {
  .header {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logo {
  text-transform: uppercase;
  color: #FFF;
  font-size: 5rem;
}

@media screen and (max-width: 1024px) {
  .logo {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 640px) {
  .logo {
    margin-bottom: 30px;
  }
}

.menu {
  font-size: 2.2rem;
}

@media screen and (max-width: 1024px) {
  .menu {
    font-size: 1.8rem;
  }
}

.menu__item {
  color: #FFF;
}

.menu__item:not(:last-of-type)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #FFF;
  margin: -2px 25px;
}

.first-section {
  padding: 218px 0 185px 0;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .first-section {
    padding: 183px 0 153px 0;
  }
}

@media screen and (max-width: 768px) {
  .first-section {
    padding: 171px 0 99px 0;
  }
}

.first-section__title {
  font-size: 8.5rem;
  line-height: 121.7%;
  text-transform: uppercase;
  color: #FFF;
  max-width: 914px;
  margin: 0 auto 35px;
}

@media screen and (max-width: 1024px) {
  .first-section__title {
    font-size: 6rem;
    max-width: 697px;
  }
}

@media screen and (max-width: 768px) {
  .first-section__title {
    font-size: 5rem;
    max-width: 329px;
  }
}

@media screen and (max-width: 640px) {
  .first-section__title {
    font-size: 4.5rem;
  }
}

.first-section__description {
  font-size: 2.5rem;
  color: #FFF;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .first-section__description {
    font-size: 1.8rem;
    margin-bottom: 63px;
  }
}

@media screen and (max-width: 768px) {
  .first-section__description {
    margin-bottom: 66px;
  }
}

@media screen and (max-width: 640px) {
  .first-section__description {
    font-size: 1.5rem;
  }
}

.button {
  background-color: transparent;
  border: 2px solid;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: 600;
  display: block;
  width: 312px;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 1024px) {
  .button {
    width: 248px;
    line-height: 48px;
  }
}

.button--white {
  border-color: #FFF;
  color: #FFF;
}

.button--black {
  border-color: #000;
  color: #000;
}

.button:hover {
  background-color: #FFA60D;
  border-color: #FFA60D;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.button:hover:not(.button--white) {
  color: #FFF;
}

.description-section {
  background-color: #F3F7EA;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  line-height: 135.8%;
}

@media screen and (max-width: 1024px) {
  .description-section {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .description-section {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .description-section {
    font-size: 1.7rem;
  }
}

.description-section__content {
  max-width: 941px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .description-section__content {
    max-width: 602px;
  }
}

@media screen and (max-width: 768px) {
  .description-section__content {
    max-width: 541px;
  }
}

@media screen and (max-width: 640px) {
  .description-section__content {
    max-width: 350px;
  }
}

.restaurant-images {
  padding: 100px 24px 0;
}

@media screen and (max-width: 1024px) {
  .restaurant-images {
    padding: 80px 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .restaurant-images {
    padding: 70px 24px 0;
  }
}

@media screen and (max-width: 640px) {
  .restaurant-images {
    padding: 55px 20px 0;
  }
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1872px;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .image-container {
    max-width: 1416px;
  }
}

@media screen and (max-width: 1024px) {
  .image-container {
    max-width: 994px;
  }
}

@media screen and (max-width: 768px) {
  .image-container {
    max-width: 720px;
  }
}

.item {
  width: calc((100% - 24px) / 2);
}

.item:nth-of-type(2n+1) {
  margin-right: 24px;
}

@media screen and (max-width: 1024px) {
  .item:nth-of-type(2n+1) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .item:nth-of-type(2n+1) {
    margin-right: 12px;
  }
}

@media screen and (max-width: 640px) {
  .item:nth-of-type(2n+1) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .item {
    width: calc((100% - 10px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .item {
    width: calc((100% - 12px) / 2);
  }
}

@media screen and (max-width: 640px) {
  .item {
    width: 100%;
  }
}

.item:not(:nth-of-type(n+5)) {
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .item:not(:nth-of-type(n+5)) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .item:not(:nth-of-type(n+5)) {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 640px) {
  .item:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.item img {
  width: 100%;
}

.menu-section {
  text-align: center;
}

.menu-section__description {
  font-size: 2.5rem;
  font-weight: 300;
  color: #474747;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .menu-section__description {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .menu-section__description {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .menu-section__description {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1024px) {
  .menu-section__description {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .menu-section__description {
    margin-bottom: 58px;
  }
}

.title {
  font-size: 40px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 2.7rem;
  }
}

.best-menu {
  max-width: 1205px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 1300px) {
  .best-menu {
    max-width: 963px;
    margin: 0 auto 45px;
  }
}

@media screen and (max-width: 1000px) {
  .best-menu {
    max-width: 691px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 760px) {
  .best-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.dish {
  display: inline-block;
  width: calc((100% - 2 * 48px) / 3);
  max-width: 360px;
  vertical-align: top;
  position: relative;
}

.dish:not(:last-of-type) {
  margin-right: 48px;
}

@media screen and (max-width: 1300px) and (min-width: 1001px) {
  .dish:not(:last-of-type) {
    margin-right: 92px;
  }
}

@media screen and (max-width: 1000px) {
  .dish:not(:last-of-type) {
    margin-bottom: 58px;
    margin-right: 0;
  }
}

@media screen and (max-width: 1300px) {
  .dish {
    width: calc((100% - 2 * 92px) / 3);
    max-width: 252px;
  }
}

@media screen and (max-width: 1000px) {
  .dish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 720px;
  }
}

@media screen and (max-width: 760px) {
  .dish {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 320px;
  }
}

.dish::before {
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  color: #FFF;
  border-radius: 50%;
  font-size: 1.4rem;
  position: absolute;
  top: -29px;
  left: -29px;
}

@media screen and (max-width: 1300px) and (min-width: 1001px) {
  .dish::before {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 1.2rem;
    top: -23px;
    left: -23px;
  }
}

@media screen and (max-width: 400px) {
  .dish::before {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 1.2rem;
    top: -23px;
    left: -23px;
  }
}

.dish--hot::before {
  content: "HOT!";
  background-color: #D33B3B;
}

.dish--new::before {
  content: "NEW!";
  background-color: #B3E151;
}

.dish--hit::before {
  content: "HIT!";
  background-color: #E5A434;
}

.image {
  margin-bottom: 35px;
}

.image img {
  max-width: 360px;
}

@media screen and (max-width: 1300px) {
  .image img {
    max-width: 252px;
  }
}

@media screen and (max-width: 1000px) {
  .image img {
    max-width: 320px;
  }
}

@media screen and (max-width: 1000px) {
  .image {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 760px) {
  .image {
    margin-bottom: 20px;
  }
}

.description {
  text-align: left;
}

.description__name {
  font-size: 30px;
  font-weight: 400;
}

@media screen and (max-width: 1300px) {
  .description__name {
    font-size: 2.5rem;
  }
}

.description__info {
  font-size: 1.8rem;
  font-weight: 300;
  color: #474747;
  margin: 15px 0;
}

@media screen and (max-width: 1300px) {
  .description__info {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .description__info {
    font-size: 2rem;
  }
}

.description__price {
  font-size: 1.8rem;
  font-weight: 700;
}

@media screen and (max-width: 1300px) {
  .description__price {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .description__price {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1000px) and (min-width: 761px) {
  .description {
    max-width: 348px;
    margin-left: 24px;
  }
}

.chef-section {
  background-color: #F3F7EA;
  text-align: center;
}

.chef-section__status {
  font-size: 2.5rem;
  font-weight: 300;
  color: #474747;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .chef-section__status {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .chef-section__status {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .chef-section__status {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 768px) {
  .chef-section__status {
    margin-bottom: 20px;
  }
}

.chef-section__description {
  font-size: 30px;
  font-weight: 300;
  max-width: 939px;
  margin: 0 auto;
  line-height: 137.3%;
}

@media screen and (max-width: 1024px) {
  .chef-section__description {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .chef-section__description {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .chef-section__description {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1024px) {
  .chef-section__description {
    max-width: 691px;
  }
}

@media screen and (max-width: 768px) {
  .chef-section__description {
    max-width: 626px;
  }
}

@media screen and (max-width: 640px) {
  .chef-section__description {
    max-width: 350px;
  }
}

.chef-image {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .chef-image {
    margin-bottom: 20px;
  }
}

.chef-image img {
  max-width: 398px;
}

@media screen and (max-width: 1024px) {
  .chef-image img {
    max-width: 282px;
  }
}

@media screen and (max-width: 768px) {
  .chef-image img {
    max-width: 251px;
  }
}

@media screen and (max-width: 640px) {
  .chef-image img {
    max-width: 220px;
  }
}

.footer {
  background-color: #262626;
  text-align: center;
}

.footer__title {
  font-size: 6.5rem;
  color: #FFF;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .footer__title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 640px) {
  .footer__title {
    font-size: 3rem;
  }
}

.footer__work-time {
  font-size: 2.5rem;
  font-weight: 300;
  color: #B1B1B1;
  margin: 60px 0;
}

@media screen and (max-width: 1024px) {
  .footer__work-time {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__work-time {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .footer__work-time {
    font-size: 1.7rem;
  }
}

.contacts__info {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 141.9%;
}

@media screen and (max-width: 1024px) {
  .contacts__info {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .contacts__info {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 640px) {
  .contacts__info {
    font-size: 1.9rem;
  }
}

.contacts__info a {
  color: #FFF;
}

.networks__link {
  display: inline-block;
  background-color: #FFF;
  width: 50px;
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.networks__link i {
  line-height: 50px;
  color: #262626;
}

.networks__link i.fa-facebook-f {
  font-size: 3rem;
}

.networks__link i.fa-twitter {
  font-size: 2.3rem;
}

.networks__link i.fa-instagram {
  font-size: 2.1rem;
}

.networks__link:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 0 0 6px 6px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 6px 6px rgba(255, 255, 255, 0.2);
}

.networks__link:not(:last-of-type) {
  margin-right: 40px;
}

.scroll {
  position: fixed;
  bottom: 19px;
  right: 20px;
}

.scroll::after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url("../images/scroll.png");
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */